/*Jamison Jones Last Edited: April 15, 2022*/
body{
    font-style: normal;
    font-weight: 400;
}
li {
    font-size: 20px;
}
ul {
    font-size: 20px;
    font-style: italic;
}
a {
    font-style: normal;
}
h1 {
    color: rgb(255, 255, 255);
    font-style: oblique;
}